html {
    min-width: 600px;
    min-height: 800px;
    max-height: 800px;
}

body {
    background-color: 	
    #ffffff;
    transition: all 250ms ease;
    font-family: 'IBM Sans-Plex Hebrew', sans-serif;
}

h1 
{
    font-size: 40px;
    color: #114d02;
    display: inline;
    text-align: center;
    margin-left: 8%;

}

h2 
{
    text-align: left;
    color:rgb(27, 27, 27);
    font-size: 25px;
}

h3
{
    text-align: left;
    color:rgb(27, 27, 27);
    font-size: 22px;
}

#root {
    text-align: left;
    display: block;
    font-size: 14px;
}

.dark h1 {
    color: #bdffbd;
}

.dark h2 {
    color: white
}

.dark h3
{
    color: white;
}

.center 
{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
form {display: flex; }
input[type=text] {flex-grow: 1; }


.dark {
    background: rgb(27, 27, 27);
    color: white;
}

.web {
    background-color: rgb(53, 248, 141);
    color : black;
}

.main {
    margin-left: 250px;
    margin-right: 50px;
}

nav.sidenav {
    position: absolute;
    margin-left: 0px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow:rgb(10 50 0/ 20%) 4px 0px 8px 0px;
    padding-right: 10px;
    margin: 0;
    padding: 0;   
}

.dark nav.sidenav {
    box-shadow: rgb(189 255 189/ 10%) 4px 0px 8px 0px;
}

nav.sidenav ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

nav.sidenav li {
    display: block;
}

nav.sidenav li a {
    display: block;
    width: 170px;
    color: #114d02;
    text-align: left;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.dark nav.sidenav li a {
    color: #bdffbd;
}


nav.sidenav li a:hover, a:active {
    background-color: #114d02;
    color: white;
}

.dark nav.sidenav li a:hover, a:active {
    background-color: #bdffbd;
    color: rgb(27, 27, 27);
}

.toggle {
    height: 40px;
    width: 90px;
    border-radius: 40px;
    margin: auto;
    background-image: linear-gradient(rgb(3, 119, 252), skyblue);
    position: relative;
    float: right;
    display: inline;
    margin-right: 8%;

}

.toggle.night {
    background-image: linear-gradient(midnightblue, rebeccapurple);
}

.notch {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: rgb(252, 244, 3);
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    box-shadow: 0 0 5px yellow;
    z-index: 1;
    transition: all 0.25s ease;
}

.notch > .crater {
    background: burlywood;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
    opacity: 0;
}

.night .crater {
    opacity: 0.4;
}

.crater:first-child{
    left: 2px;
    top: 6px;
    height:6px;
    width: 16px;
    transform: rotate(-45deg);
}

.crater:last-child {
    right: 3px;
    top: 6px; 
    height: 6px;
    width: 10px;
    transform: rotate(45deg);
}

.night > .notch {
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(50px, 0);
}

.shape {
    position: absolute;
    background: whitesmoke;
    border-radius: 50%;
}

.shape.sm {
    height: 2.5px;
    width: 25px;
    top: 50%;
    left: 60%
}

.shape.md {
    height: 5px;
    width: 37.5px;
    top: 25%;
    left: 25%;
    z-index: 2;
}

.shape.lg {
    height: 6px;
    width: 45px;
    bottom: 6px;
    left: 25%;
}

.night .shape {
    background-color: lightgrey;
    box-shadow: 0 0 10px 2px violet;
}

.night .shape.sm {
    height: 2px;
    width: 2px;
    transform: translate(-20px, 0);

}

.night .shape.sm:first-of-type{
    transform: translate(-40px, -5px);
}

.night .shape.md{
    height: 4px;
    width: 4px;
    transform: translate(-4px, 0);
}

.night .shape.lg {
    height: 7px;
    width: 7px;
    transform: translate(-5px, 0);
}

.circle {
    display: flex;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #555;
}



.react-select {
    width: 150px;
}

.react-select .react-select__control--is-focused.react-select__control--menu-is-open {
    border-color: #114d02;

    
}

.react-select:hover {
    border-color: #114d02;
}

.buttonGrid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: middle;
    margin-left: 4.5%;
    
}

.groupBtns .background-red {background-color: rgb(167, 10, 10); color: white; border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
.groupBtns .background-blue {background-color: rgb(0, 0, 117); color: white; border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
.groupBtns .background-yellow {background-color: rgb(255, 255, 131); color: rgb(27, 27, 27); border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
.groupBtns .background-green {background-color: #0A3200; color: white; border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
.groupBtns .background-purple {background-color: rgb(57, 0, 104); color: white; border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
.groupBtns .background-pink {background-color: rgb(255, 162, 178); color: rgb(27, 27, 27); border-radius: 10px; border-width: 1px; width: 100px; height: 70px;}
