body {
    background-color: 	
    #ffffff;
    transition: all 250ms ease;
}

h1 
{
    text-align: center;
    font-size: 40px;
    color: #0A3200;
}

h2 
{
    text-align: left;
    color:#0A3200;
}

#root {
    text-align: left;
    display: block;
    font-size: 14px;
}

.dark h1, .dark h2 {
    color: #bdffbd;
}

.center 
{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
form {display: flex; }
input[type=text] {flex-grow: 1; }


.dark {
    background: rgb(27, 27, 27);
    color: white;
}

.web {
    background-color: rgb(53, 248, 141);
    color : black;
}

.main {
    margin-left: 250px;
    margin-right: 50px;
}

nav.sidenav {
    position: absolute;
    margin-left: 0px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow:rgb(10 50 0/ 20%) 4px 0px 8px 0px;
    padding-right: 10px;   
}

.dark nav.sidenav {
    box-shadow: rgb(189 255 189/ 10%) 4px 0px 8px 0px;
}

nav.sidenav ul {
    list-style-type: none;
}
nav.sidenav li {
    display: block;
}

nav.sidenav li a {
    display: block;
    width: 125px;
    color: #0A3200;
    text-align: left;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.dark nav.sidenav li a {
    color: #bdffbd;
}


nav.sidenav li a:hover, a:active {
    background-color: #0A3200;
    color: white;
}

.dark nav.sidenav li a:hover, a:active {
    background-color: #bdffbd;
    color: rgb(27, 27, 27);
}
